{{!< default}}

<ul>
{{#foreach posts}}

    <li>
        <i>
            <time datetime="{{date format="YYYY-MM-DD"}}">
                {{date format="D MMM, YYYY"}} -
            </time>
        </i>
        <a href="{{url}}">{{title}}</a>
    </li>

{{/foreach}}
</ul>
